<h2><%= link_to post.title, post %></h2>
<p class="lead">by <%= post.user.email %></p>
<p><span class="glyphicon glyphicon-time"></span>Criado em <%= post.created_at %></p>
<hr>
<p><%= truncate(strip_tags(post.text), length: 200) %></p>
<%= link_to 'Ler mais...', post %>