
<div class="page-header">
	<ul class="list-inline pull-right">
		<li><%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' if @is_owner %></li>
		<li><%= link_to 'Back', root_path, class: 'btn btn-default' %></li>
	</ul>
	<h1><%= @post.title %></h1>
</div>

<%= @post.text.html_safe %>

<hr/>

<p>Created by: <kbd><%= @post.user.email %></kbd></p>
<p>
	Tags: 
<% @post.categories.each do |category| %>
	<kbd><%= category.kind %> </kbd> 
<% end %>
</p>


<hr/>

<%= render 'comments/form' %>

<hr/>

<%= render @post.comments %>